# AWS OpenTelemetry Swift - Build and Test Pipeline
# Runs builds and tests on iOS, watchOS, and macOS
# (visionOS not supported by aws-sdk-swift)
# Triggered on: PR creation/updates, manual dispatch

name: Build and Test

on:
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  macOS:
    name: macOS (with coverage)
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.4
      - name: Check Coverage
        run: make check-coverage

  iOS:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v5
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.4
      - name: Install Homebrew kegs
        run: make setup-brew
      - name: Build for iOS
        run: make build-for-testing-ios
      - name: Test for iOS
        run: make test-without-building-ios

  tvOS:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v5
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.4
      - name: Install Homebrew kegs
        run: make setup-brew
      - name: Build for tvOS
        run: make build-for-testing-tvos
      - name: Test for tvOS
        run: make test-without-building-tvos

  watchOS:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v5
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.4
      - name: Install Homebrew kegs
        run: make setup-brew
      - name: Build for watchOS
        run: make build-for-testing-watchos
      - name: Test for watchOS
        run: make test-without-building-watchos
# visionOS:
#   Temporarily disabled due to dependency compatibility issues with aws-sdk-swift
#   https://github.com/awslabs/aws-sdk-swift/blob/main/Package.swift#L493-L500
#
# visionOS:
#   runs-on: macos-15
#   steps:
#     - uses: actions/checkout@v5
#     - uses: maxim-lobanov/setup-xcode@v1
#       with:
#         xcode-version: 16.4
#     - name: Install Homebrew kegs
#       run: make setup-brew
#     - name: Build for visionOS
#       run: make build-for-testing-visionos
#     - name: Test for visionOS
#       run: make test-without-building-visionos
