name: Performance tests
on:
  push:
    branches:
      - main
      - release/**/*

  pull_request:
    branches:
      - main
      - release/**/*
  workflow_dispatch:

jobs:
  ios:
    runs-on: macos-15-xlarge

    # This job will be cancelled after 30 minutes
    timeout-minutes: 30

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Cache Swift Package Manager
        uses: actions/cache@v4
        with:
          path: |
            .build
            ~/Library/Caches/org.swift.swiftpm
            ~/Library/Developer/Xcode/DerivedData
          key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      - name: Run performance tests
        uses: ./.github/actions/performance_tests
        with:
          api-level: 18
          destination: ios
