name: Release Build
on:
  workflow_dispatch:

 # Publish to GitHub releases
jobs:
  build:
    environment: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Extract version from Info.plist
        run: |
          VERSION=$(grep -o '"[0-9]\+\.[0-9]\+\.[0-9]\+"' Info.plist | tr -d '"')
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Create GH release
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        # GITHUB_REF_NAME is a GitHub Actions environment variable that contains the short ref name of the branch or tag that triggered the workflow run.
        run: |
          gh release create --target "$GITHUB_REF_NAME" \ 
             --title "Release v${VERSION}" \
             --draft \
             "v${VERSION}" \
             .
