name: Soak Test

on:
  workflow_dispatch:
  push:
    branches: [ main, test/e2e ]

jobs:
  run-soak-test:
    runs-on: macos-15
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: 16.4

    - name: Build iOS App
      uses: yukiarrr/ios-build-action@v1
      with:
        project-path: Examples/PetClinic/PetClinic.xcodeproj
        p12-base64: ${{ secrets.IOS_CERTIFICATE }}
        mobileprovision-base64: ${{ secrets.IOS_PROVISIONING_PROFILE }}
        code-signing-identity: 'iPhone Developer'
        team-id: ${{ secrets.DEVELOPMENT_TEAM_ID }}
        workspace-path: Examples/PetClinic/PetClinic.xcodeproj
        scheme: PetClinic
        output-path: Examples/PetClinic
        
    - name: Build for Testing to Generate XCTestRun File
      run: |
        xcodebuild -project Examples/PetClinic/PetClinic.xcodeproj \
          -scheme PetClinic \
          -destination 'platform=iOS' \
          -derivedDataPath Examples/PetClinic/build \
          CODE_SIGN_STYLE=Manual \
          DEVELOPMENT_TEAM="${{ secrets.DEVELOPMENT_TEAM_ID }}" \
          build-for-testing 
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_RUM_GAMMA_OIDC_ROLE }}
        aws-region: ${{ secrets.AWS_RUM_GAMMA_REGION }}
        bucket_name: ${{ secrets.AWS_RUM_GAMMA_BUCKET_NAME }}
    
    - name: Upload TestSpec to S3
      run: |
        # Upload test specification
        set -o pipefail && aws s3 cp ${{ github.workspace }}/Examples/PetClinic/deviceFarmTestSpec.yaml s3://${{ secrets.AWS_RUM_GAMMA_BUCKET_NAME }}/testSpec/testSpec_$(date +%Y%m%d_%H%M%S).yaml --region ${{ secrets.AWS_RUM_GAMMA_REGION }} --metadata "commitHash=${{ github.sha }}"

    - name: Upload TestPackage to S3
      run: |
        # Upload test package
        export XCTESTRUN_FILE=$(find ${{ github.workspace }}/Examples/PetClinic/build/Build/Products/ -name "PetClinic_PetClinic_iphoneos*-arm64.xctestrun" | head -1)
        export TEST_PACKAGE=${{ github.workspace }}/Examples/PetClinic/build/Build/Products/Debug-iphoneos/PetClinicUITests-Runner.app
        export TEST_PACKAGE_ZIP=${{ github.workspace }}/Examples/PetClinic/build/Build/Products/Debug-iphoneos/PetClinicUITests-Runner.app.zip
        zip -r $TEST_PACKAGE_ZIP $TEST_PACKAGE
        zip -r $TEST_PACKAGE_ZIP $XCTESTRUN_FILE
        set -o pipefail && aws s3 cp $TEST_PACKAGE_ZIP s3://${{ secrets.AWS_RUM_GAMMA_BUCKET_NAME }}/tests/tests_$(date +%Y%m%d_%H%M%S).app.zip --region ${{ secrets.AWS_RUM_GAMMA_REGION }} --metadata "commitHash=${{ github.sha }}"

    - name: Upload App to S3
      run: |
        # Upload app
        set -o pipefail && aws s3 cp ${{ github.workspace }}/Examples/PetClinic/PetClinic.ipa s3://${{ secrets.AWS_RUM_GAMMA_BUCKET_NAME }}/app/PetClinic_$(date +%Y%m%d_%H%M%S).ipa --region ${{ secrets.AWS_RUM_GAMMA_REGION }} --metadata "commitHash=${{ github.sha }}"
        
    - name: Build Artifacts - App
      uses: actions/upload-artifact@v4
      with:
        name: petclinic-ios-app-archive
        path: ${{ github.workspace }}/Examples/PetClinic/PetClinic.ipa
        retention-days: 7

    - name: Build Artifacts - TestPackage Zip
      uses: actions/upload-artifact@v4
      with:
        name: petclinic-ios-test-package-zip
        path: $TEST_PACKAGE_ZIP
        retention-days: 7
    
